/**
*  ------------------------------------------------------------------------------------------------
*
*
*   BARRA DE PROGRESSO ATÉ CONCLUSÃO DA META
*
*
*  ------------------------------------------------------------------------------------------------
*/
.rifa-barra-de-progresso{
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    background: #f2f2f2;
    border-radius: 25px;
}
.rifa-barra-de-progresso .quantidade-ate-meta{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    border-radius: 12px;
    background: #8BC34A;
}
.descricao-meta-rifa{
    padding-top: 14px;
}

