/**
*  ------------------------------------------------------------------------------------------------
*   GERAIS
*  ------------------------------------------------------------------------------------------------
*/

.plugin-rifa-drope-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #c3c4c7;
    max-width: 96%;
    margin-top: 20px;
}

.loading-main{
    display: none !important;
}

.pagina-em-branco h1{
    color: #747474;
    font-weight: bold;
}

#billing_cotasescolhidas_field{
    opacity: 0 !important;
}

#rifaListaParticipantes *{
    word-break: break-all !important;
}


.btn-carregar-mais-numeros,
.btn-carregar-mais-numeros:hover{
    color: #fff;
    background: #666;
    outline: none;
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    width: 247px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none !important;
}

/**
*  ------------------------------------------------------------------------------------------------
*
*
*   INPUT E BOTÃO DE PESQUISA DE PEDIDO
*
*
*  ------------------------------------------------------------------------------------------------
*/
.input-pesquisar-pedido{
    width: 300px;
    padding: 5px;
    padding-left: 11px;
    border-radius: 5px;
}

.botao-pesquisa-pedido{
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: normal !important;
}

.caixa-confirmacao-pedido{
    position: relative;
    display: block;
    float: left;
    width: 24%;
    border-radius: 15px;
    margin: 5px;
    background: #f2f2f2;
    padding: 20px;
}

@media (max-width: 480px) {
    .caixa-confirmacao-pedido {
        width: 100%;
    }
}

.caixa-confirmacao-pedido h3{
    margin-top: 0px;
}

.caixa-confirmacao-pedido p{
    font-size: 15px;
}

.caixa-confirmacao-pedido p span{
    color: #8BC34A;
    font-weight: bold !important;
}




/**
*  ------------------------------------------------------------------------------------------------
*
*
*   MODAL DA RIFA
*
*
*  ------------------------------------------------------------------------------------------------
*/
.widget-rifa-modelo-1#modalRifa{
    position: fixed;
    display: block;
    bottom: -520px;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
    left: 0;
    width: 100%;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0px 3px 6px rgba(000,000,000,0.15);
    z-index: 9999999999999;
}

@media(max-width: 540px){
    .widget-rifa-modelo-1#modalRifa {
        position: fixed;
        display: block;
        bottom: -520px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 90px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #fff;
        border-top: 1px solid #f2f2f2;
        box-shadow: 0px 3px 6px rgba(000,000,000,0.15);
    }
}

.widget-rifa-modelo-1#modalRifa .coluna-1{
    float: left;
    width: 46%;
    text-align: left;
    padding: 8px;
    padding-left: 6%;
}

.widget-rifa-modelo-1#modalRifa .coluna-1 span{
    float: left;
    width: 49px;
    text-align: center;
    background: #666;
    margin-right: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 11px;
}

@media(max-width: 540px){
    .widget-rifa-modelo-1#modalRifa .coluna-1 {
        float: left;
        width: 43%;
        text-align: left;
        padding: 8px;
        padding-left: 6%;
    }
    .widget-rifa-modelo-1#modalRifa .coluna-2 {
        float: left;
        width: 50%;
        text-align: right;
        padding: 8px;
    }
    .widget-rifa-modelo-1#modalRifa .coluna-1 span{
        float: left;
        width: auto;
        text-align: center;
        background: #666;
        margin-right: 5px;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 9px;
        font-size: 15px;
        padding: 4px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}




.widget-rifa-modelo-1#modalRifa .coluna-2{
    float: left;
    width: 43%;
    text-align: right;
    padding: 8px;
}


.widget-rifa-modelo-1#modalRifa .coluna-2 h3{
    font-size: 17px;
    font-weight: normal;
    padding-top: 3px;
}

@media(max-width: 540px){
    .widget-rifa-modelo-1#modalRifa .coluna-2 h3 {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        padding-top: 3px;
        margin-top: -8px;
    }
}

.widget-rifa-modelo-1#modalRifa .coluna-2 h3 a{
    color: #fff !important;
    border-radius: 45.04px;
    border: none !important;
    background: #5CB85C !important;
    outline: none;
    font-weight: normal;
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 4px;
    text-align: center;
    margin-top: -6px;
    font-size: 13px;
    margin-left: 13px;
    float: right !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    font-weight: bold !important;
    /* display: inline-block; */
    width: 196px;
}

@media(max-width: 540px){
    .widget-rifa-modelo-1#modalRifa .coluna-2 h3 a {
        color: #fff !important;
        border-radius: 45.04px;
        border: none !important;
        background: #5CB85C !important;
        outline: none;
        font-weight: normal;
        padding: 0px;
        padding-top: 8px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: -6px;
        font-size: 12px;
        margin-left: 13px;
        float: right !important;
        text-transform: uppercase !important;
        border-radius: 0px !important;
        font-weight: bold !important;
        /* display: inline-block; */
        width: 175px;
        max-width: 100%;
        margin-top: 4px;
    }
}

.hidden-campo-cotas{
    opacity: 0 !important;
}


/**
*  ------------------------------------------------------------------------------------------------
*
*
*   VENCEDORES
*
*
*  ------------------------------------------------------------------------------------------------
*/
.conteudo-rifa-vencedores{
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 14px;
    background: #43A047;
    color: #fff;
    text-align: center;
}

.conteudo-rifa-vencedores h2{
    color: #fff;
    font-weight: bold;
}

.conteudo-rifa-vencedores .conteudo-vencedores{
    font-size: 1.2em;
}



/**
*  ------------------------------------------------------------------------------------------------
*
*
*   COTAS
*
*
*  ------------------------------------------------------------------------------------------------
*/
.cotas-disponiveis{
    position: relative;
    display: inline-table;
    width: 100%;
    clear: both;
    float: none;
}
.cotas-disponiveis .form-check{
    display: unset;
    float: left;
    padding-left: 0px;
    width: 59px;
    font-weight: bold !important;
    border: 1px solid #ccc;
    border-radius: 0px;
    text-align: center;
    cursor: pointer !important;
    margin-right: 9px;
    margin-bottom: 12px;
}

@media(max-width: 540px){
    .cotas-disponiveis .form-check{
        margin-right: 1.99%;
        width: 18%;
    }
}

.cotas-disponiveis .form-check input{
    display: none;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.cotas-disponiveis .form-check input{
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.cotas-disponiveis .form-check label{
    background: #fff;
    /*height: 48px;*/
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 15px;
    cursor: pointer !important;
}




.cotas-disponiveis .form-check input:checked + label {
    color:#fff;
    background: #283E77;
    /*height: 48px;*/
    margin-bottom: 0;
    -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}


@media(max-width: 540px){
    .cotas-disponiveis .form-check label {
        background: #fff;
        /*height: 53px;*/
        display: block;
        width: 100%;
        padding: 11px;
        padding-top: 11px;
        font-size: 12px;
        cursor: pointer !important;
    }
    .cotas-disponiveis .form-check{
        margin-bottom: 8px;
    }
}





/**
*  ------------------------------------------------------------------------------------------------
*
*
*   TOOLTIP AO PASSAR O MOUSE POR CIMA DA COTA
*
*
*  ------------------------------------------------------------------------------------------------
*/
.form-check.me-de-tooltip{
    position: relative;
}
.form-check.me-de-tooltip::before {
    position: absolute;
    display: block;
    top: -51px;
    left: -51px;
    background-color: #2B222A;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 5px;
    line-height: 18px;
    z-index: 9999;
    text-transform: none;
    transition: all 0.5s ease;
    font-family: Arial;
    width: 160px;
}
.form-check.me-de-tooltip::after {
    position: absolute;
    display: block;
    top: -5px;
    left: 29px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2B222A;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
}
.form-check.me-de-tooltip::before, .form-check.me-de-tooltip::after {
    display: block;
    color: #efefef;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}
.form-check.me-de-tooltip:focus::before,
.form-check.me-de-tooltip:focus::after,
.form-check.me-de-tooltip:hover::before,
.form-check.me-de-tooltip:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
}

#iteneRifaAba0,
#iteneRifaAba1,
#iteneRifaAba2,
#iteneRifaAba3{
    padding-top: 56px;
}

/**
*  ------------------------------------------------------------------------------------------------
*
*
*   ABAS COTAS DISPONÍVEIS / COTAS RESERVADAS
*
*
*  ------------------------------------------------------------------------------------------------
*/

.page-tabs {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    padding-top: 22px;
}

.pcss3t {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 0;
    text-align: left;
}
.pcss3t > input {
    position: absolute;
    display: none;
}
.pcss3t > label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}


.pcss3t > label i {
    display: block;
    float: left;
    margin: 0 8px 0 -2px;
    padding: 0;
    border: 0;
    outline: none;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 17px;
}
.pcss3t > input:checked + label {
    cursor: default;
}
.pcss3t > ul {
    list-style: none;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 13px;
    padding-bottom: 9px;
}
.pcss3t > ul > li {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 30px 40px 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
@media(max-width: 540px){
    .pcss3t > ul > li {
        padding: 26px 7px 7px;
    }
}

.abas-interativas .pcss3t > ul > li{
    padding: 0 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}


.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-1:checked ~ ul .tab-content-1,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transform: rotate(0deg);
}
.pcss3t-height-auto > ul {
    height: auto !important;
}
.pcss3t-height-auto > ul > li {
    position: static;
    display: none;
    height: auto !important;
    width: 100%;
    overflow-x: hidden;
}
.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-1:checked ~ ul .tab-content-1,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t-height-auto > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t-height-auto > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t-height-auto > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
    display: block;
}
.pcss3t .grid-row {
    margin-top: 20px;
}
.pcss3t .grid-row:after {
    content: '';
    display: table;
    clear: both;
}
.pcss3t .grid-row:first-child {
    margin-top: 0;
}
.pcss3t .grid-col {
    display: block;
    float: left;
    margin-left: 2%;
}
.pcss3t .grid-col:first-child {
    margin-left: 0;
}
.pcss3t .grid-col .inner {
    padding: 10px 0;
    border-radius: 5px;
    background: #f2f2f2;
    text-align: center;
}
.pcss3t .grid-col-1 {
    width: 15%;
}
.pcss3t .grid-col-2 {
    width: 32%;
}
.pcss3t .grid-col-3 {
    width: 49%;
}
.pcss3t .grid-col-4 {
    width: 66%;
}
.pcss3t .grid-col-5 {
    width: 83%;
}
.pcss3t .grid-col-offset-1 {
    margin-left: 19%;
}
.pcss3t .grid-col-offset-1:first-child  {
    margin-left: 17%;
}
.pcss3t .grid-col-offset-2 {
    margin-left: 36%;
}
.pcss3t .grid-col-offset-2:first-child {
    margin-left: 34%;
}
.pcss3t .grid-col-offset-3 {
    margin-left: 53%;
}
.pcss3t .grid-col-offset-3:first-child {
    margin-left: 51%;
}
.pcss3t .grid-col-offset-4 {
    margin-left: 70%;
}
.pcss3t .grid-col-offset-4:first-child {
    margin-left: 68%;
}
.pcss3t .grid-col-offset-5:first-child {
    margin-left: 85%;
}
.pcss3t .typography {
    color: #666;
}
.pcss3t .typography h1,
.pcss3t .typography h2,
.pcss3t .typography h3,
.pcss3t .typography h4,
.pcss3t .typography h5,
.pcss3t .typography h6 {
    margin: 40px 0 0 0;
    padding: 0;
    text-align: left;
    color: #333;
}
.pcss3t .typography h1 {
    font-size: 40px;
    line-height: 60px;
    text-shadow: 3px 3px rgba(0,0,0,0.1);
}
.pcss3t .typography h2 {
    font-size: 32px;
    line-height: 48px;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
}
.pcss3t .typography h3 {
    font-size: 26px;
    line-height: 38px;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}
.pcss3t .typography h4 {
    font-size: 20px;
    line-height: 30px;
}
.pcss3t .typography h5 {
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
}
.pcss3t .typography h6 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.pcss3t .typography p {
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 20px;
    text-align: left;
}
.pcss3t .typography ul,
.pcss3t .typography ol {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}
.pcss3t .typography li {
    position: relative;
    margin-top: 5px;
    padding-left: 20px;
}
.pcss3t .typography li ul,
.pcss3t .typography li ol {
    margin-top: 5px;
}
.pcss3t .typography ul li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 4px;
    background: #404040;
}
.pcss3t .typography ol {
    counter-reset: list1;
}
.pcss3t .typography ol > li:before {
    counter-increment:list1;
    content: counter(list1)'.';
    position: absolute;
    top: 0;
    left: 0;
}
.pcss3t .typography a {
    text-decoration: underline;
    color: #1889e6;
}
.pcss3t .typography a:hover {
    text-decoration: none;
}
.pcss3t .typography .pic {
    padding: 4px;
    border: 1px dotted #ccc;
}
.pcss3t .typography .pic img {
    display: block;
}
.pcss3t .typography .pic-right {
    float: right;
    margin: 0 0 10px 20px;
}
.pcss3t .typography .link {
    text-decoration: underline;
    color: #1889e6;
    cursor: pointer;
}
.pcss3t .typography .link:hover {
    text-decoration: none;
}
.pcss3t .typography h1:first-child,
.pcss3t .typography h2:first-child,
.pcss3t .typography h3:first-child,
.pcss3t .typography h4:first-child,
.pcss3t .typography h5:first-child,
.pcss3t .typography h6:first-child,
.pcss3t .typography p:first-child {
    margin-top: 0;
}
.pcss3t .typography .text-center {
    text-align: center;
}
.pcss3t .typography .text-right {
    text-align: right;
}
.pcss3t-steps > label {
    cursor: default;
}
.pcss3t-effect-scale > ul > li {
    -webkit-transform: scale(0.1,0.1);
}
.pcss3t-effect-rotate  > ul > li {
    -webkit-transform: rotate(180deg);
}
.pcss3t-effect-slide-top > ul > li {
    top: -40px;
}
.pcss3t-effect-slide-right > ul > li {
    left: 80px;
}
.pcss3t-effect-slide-bottom > ul > li {
    top: 40px;
}
.pcss3t-effect-slide-left > ul > li {
    left: -80px;
}

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
    text-align: right;
}


/**/
/* top center */
/**/
.pcss3t-layout-top-center {
    text-align: center;
}


/**/
/* top combi */
/**/
.pcss3t > .right {
    float: right;
}



.pcss3t-icons-top > label {
    text-align: center;
}
.pcss3t-icons-top > label i {
    float: none;
    margin: 0 auto -10px;
    padding-top: 17px;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}
.pcss3t-icons-right > label i {
    float: right;
    margin: 0 -2px 0 8px;
}
.pcss3t-icons-bottom > label {
    text-align: center;
}
.pcss3t-icons-bottom > label i {
    float: none;
    margin: -10px auto 0;
    padding-bottom: 17px;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}
.pcss3t-icons-only > label i {
    float: none;
    margin: 0 auto;
    font-size: 23px;
}
.pcss3t label[for="tab1"]{
    margin-left: 0%;
}
@media(max-width: 540px){
    .pcss3t label[for="tab1"]{
        margin-left: 0%;
    }
}

.abas-interativas  .pcss3t label[for="tab1"]{
    margin-left: 0 !important;
}

.pcss3t > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pcss3t > label {
    padding: 0 20px;
    padding-left: 0px;
    margin-right: 26px;
    font-size: 13px;
    line-height: 30px;
    width: 200px;
    color: #000;
    text-align: left;
    opacity: 0.22;
    font-weight: bold;
    text-transform: none;
    border-bottom: 2px solid transparent;
}

.abas-interativas .pcss3t > label {
    width: 17%;
}
@media(max-width: 540px){
    .pcss3t > label {
        padding: 0px 3px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 12px;
        line-height: 20px;
        width: 45%;
        text-align: left;
        margin: 0;
        font-weight: normal;
        margin-bottom: 12px;
    }
}
/*
.pcss3t > label:hover {
  background: #f2f2f2;
}
*/
.pcss3t > input:checked + label {

    color: #000;
    opacity: 1;
    border-bottom: 2px solid #72C1EF;
}
.pcss3t > ul {
    text-align: left;
}
.pcss3t-steps > label:hover {
    background: #e5e5e5;
}


.pcss3t > ul,
.pcss3t > ul > li {
    height: auto;
}



/**
*  ------------------------------------------------------------------------------------------------
*
*
*   RESUMO NUMEROS ESCOLHIDOS PELO USUÄRIO
*
*
*  ------------------------------------------------------------------------------------------------
*/

.woocommerce-table.woocommerce-table--custom-fields.shop_table.custom-fields *,
.woocommerce-table.woocommerce-table--custom-fields.shop_table.custom-fields td{
    word-break: break-all !important;
}

.resumo-numeros-escolhidos{
    position: relative;
    display: block;
}

.resumo-numeros-escolhidos.winner-card__content  .number-list-wrapper {
    width: 100%;
    text-align: center;
}

.resumo-numeros-escolhidos.winner-card__content  .number-list {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}

.resumo-numeros-escolhidos.winner-card__content .number-list li,
.resumo-numeros-escolhidos.winner-card__content .number-list input {
    display: inline-block;
    min-height: 48px;
    height: 48px;
    margin: 5px;
    background-image: linear-gradient(150deg, #EC1379 0%, #6C0092 66%);
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;
    color: #ffffff;
    border: none;
    padding: 0 15px 0 15px;
    text-align: center;
    padding-top: 14px;
}

.resumo-numeros-escolhidos.winner-card__content .number-list li.lista-no-carrinho{
    min-width: 32px;
    width: auto;
    display: inline-block;
    min-height: 32px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 5px;
    background-image: linear-gradient(150deg, #EC1379 0%, #6C0092 66%);
    border-radius: 5px;
    font-size: 11px !important;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 0 5px 0 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 7px;
}

h4#tituloResumoDosNumerosEscolhidos{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}



/* NAO PRECISAMOS EXIBIR OS NUMEROS ESCOLHIDOS NA TABELA PADRAO DO WOOCOMMERCE */
.woocommerce-table__line-item.order_item ul.wc-item-meta{
    display: none;
}





/**
*  ------------------------------------------------------------------------------------------------
*
*
*   NOVO WIDGET DE APOSTAS
*
*
*  ------------------------------------------------------------------------------------------------
*/
.aposta {
    background: #fff;
    position: fixed;
    right: 40px;
    bottom: -520px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    width: 100%;
    border-top: 4px solid #0cd664;
    z-index: 999;
    max-height: calc(100% - 40px);
}

@media screen and (max-width: 960px) {
    .aposta {
        max-width: 100%;
        right: 0;
        overflow-y: auto;
    }
}

.aposta.open .aposta__content {
    display: block;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    max-height: 300px;
    height: auto;
    overflow-y: scroll;
    padding-bottom: 30px;
}


.aposta.open .aposta__header__close::after {
    opacity: 0;
    visibility: hidden;
}

.aposta__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #31373f;
    padding: 10px;
    cursor: pointer;
}

.aposta__header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.aposta__header__btn {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 600 13px/1 ;
    letter-spacing: 1.2px;
    padding: 0 16px;
    position: relative;
    color: #8697a2;
}

.aposta__header__btn:hover::before {
    opacity: 1;
    visibility: visible;
}

.aposta__header__btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #8697a2;
    opacity: 0;
    visibility: hidden;
}

.aposta__header__btn.active {
    color: #0cd463;
}

.aposta__header__btn.active span {
    background: #0cd463;
    color: #FFFFFF;
}

.aposta__header__btn.active::before {
    opacity: 1;
    visibility: visible;
    background: #0cd463;
}

.aposta__header__btn span {
    background: #31373f;
    color: #8697a2;
    min-width: 25px;
    width: 25px;
    font: 500 16px/1 ;
    min-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 1000px;
    margin: 0 0 0 8px;
}

.aposta__header__close {
    background: #0cd664;
    border: none !important;
    border-radius: 1000px;
    color: #000 !important;
    width: 26px;
    height: 26px;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.aposta__header__close::before {
    content: "";
    background: #000;
    height: 2px;
    width: 70%;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__header__close::after {
    content: "";
    background: #000;
    width: 2px;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*
.aposta__header__close:hover {
  background: #0cd463;
}

.aposta__header__close:hover::before {
  background: #FFFFFF;
}

.aposta__header__close:hover::after {
  background: #FFFFFF;
}
*/
.aposta__content {
    display: none;
}

.aposta__content__header {
    border-bottom: 1px solid #31373f;
    padding: 20px 16px;
}

.aposta__content__header__lucro {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #19a9e2;
    text-transform: uppercase;
    letter-spacing: .8px;
    font: 500 13px/1 ;
    border: 1px solid #19a9e2;
    padding: 14px 12px 12px 12px;
    border-radius: 5px;
}

.aposta__content__header__lucro i {
    margin: 0 8px 0 0;
    color: #19a9e2;
}

.aposta__content__header__concluido {
    display: none;
    letter-spacing: .4px;
    border-radius: 5px;
    width: 100%;
    padding: 14px;
    -webkit-box-shadow: inset 0 0 0 1px #31373f;
    box-shadow: inset 0 0 0 1px #31373f;
    font: 600 16px/1 ;
    text-align: center;
    color: #8697a2;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content__header__concluido:hover {
    background: #8697a220;
    color: #FFFFFF;
}

.aposta__content__lista {
    overflow-y: auto;
    max-height: 600px;
}

.aposta__content__lista li {
    border-bottom: 1px solid #31373f;
    padding: 12px 16px 16px 16px;
}

.aposta__content__lista li a {
    font: 500 15px/1 ;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    display: inline-block;
    margin: 0 0 7px 0;
}

.aposta__content__lista li a:hover {
    color: #0cd463;
}

.aposta__content__lista li h6 {
    opacity: .8;
    font: 200 13px/1 ;
    letter-spacing: .5px;
}

.aposta__content__lista li section {
    margin: 12px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li section h3 {
    font: 600 17px/1 ;
}

.aposta__content__lista li section span {
    font: 600 17px/1 ;
}

.aposta__content__lista li section .green {
    color: #0cd463;
    display: block;
}

.aposta__content__lista li section .blue {
    color: #19a9e2;
    display: none;
}

.aposta__content__lista li section .blue i {
    color: #19a9e2;
    margin: 0 8px 0 0;
}

.aposta__content__lista li > button {
    margin: 10px 0 16px 0;
    width: 100%;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #19a9e2;
    text-transform: uppercase;
    letter-spacing: .8px;
    font: 500 15px/1 ;
    border: 1px solid #19a9e2;
    padding: 14px 12px 12px 12px;
    border-radius: 5px;
}

.aposta__content__lista li > button i {
    margin: 0 8px 0 0;
    color: #19a9e2;
}

.aposta__content__lista li footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.aposta__content__lista li footer button {
    font: 400 14px/1 ;
    color: #0cd463;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li footer button i {
    margin: 0 0 0 6px;
    color: #0cd463;
}

.aposta__content__lista li footer h4 {
    font: 300 15px/1 ;
    color: #c5c9cc;
}

.aposta__content__lista li footer h4 strong {
    font-weight: 500;
    color: #FFFFFF;
}

.aposta__content__lista li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li div i {
    color: #eb4d4b;
    margin: 0 12px 0 0;
}

.aposta__content__lista li div span {
    line-height: 1.2;
}

.aposta__content__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 16px;
}

.aposta__content__footer h5 {
    color: #8697a2;
    font: 400 15px/1 ;
}

.aposta__content__footer h4 {
    font: 500 15px/1 ;
}

.aposta__content .valor {
    margin: 10px 0 16px 0;
    padding: 0 24px 2px 0;
    font-size: 20px;
    text-align: right;
    height: 40px;
    display: block;
    width: 100%;
    background: #1a212a;
    color: #FFFFFF;
    border: 1px solid #31373f;
    border-radius: 1000px;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content .valor:focus {
    border-color: #0cd463;
}

.aposta__content .valor::-webkit-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor:-ms-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor::-ms-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor::placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .aviso {
    font: 400 16px/1.3 ;
    color: #eb4d4b;
    text-align: center;
    margin: 10px 0 0 0;
}

.aposta__content__multipla {
    padding: 10px 16px;
}

.aposta__content__multipla .valor {
    margin-top: 0;
}

.aposta__content__multipla label {
    display: block;
    margin: 24px 0;
    position: relative;
}

.aposta__content__multipla label input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.aposta__content__multipla label input:checked ~ span::before {
    background: #0cd463;
}

.aposta__content__multipla label input:checked ~ i {
    opacity: 1;
    visibility: visible;
}

.aposta__content__multipla label span {
    color: #8697a2;
    font: 400 15px/1 ;
    display: block;
    width: 100%;
    position: relative;
}

.aposta__content__multipla label span::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    display: block;
    border: 1px solid #0cd66480;
    border-radius: 3px;
    width: 18px;
    height: 18px;
}

.aposta__content__multipla label i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content__multipla section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.aposta__content__multipla section h5 {
    color: #8697a2;
    font: 400 15px/1 ;
}

.aposta__content__multipla section h4 {
    font: 500 15px/1 ;
}

.aposta__content__multipla section h4 strong {
    font-size: 22px;
}

.aposta__content__button {
    display: block;
    width: calc(100% - 32px);
    border-radius: 1000px;
    background: #0cd463;
    margin: 0 0 24px 16px;
    font: 600 18px/1 ;
    padding: 12px 0;
}

.aposta__content__button:disabled {
    opacity: .4;
}


.widget-rifa-modelo-2#modalRifa .coluna-2 h3 a {
    color: #fff !important;
    background: #8BC34A !important;
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #8bc34a;
    font-weight: bold;
}





.widget-rifa-modelo-2#modalRifa .coluna-1 span{
    display: inline-block;
    width: 49px;
    text-align: center;
    background: #666;
    margin-left: 6px;
    margin-right: 6px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 11px;
}


.widget-rifa-modelo-2#modalRifa form{
    font-size: 18px;
    margin-top: 20px;
}


.cotas-disponiveis-modelo-4 .pcss3t > label {
    padding-left: 20px;
    margin-right: 26px;
    width: 175px;
    background: #f2f2f2;
    border-radius: 15px;
    color: #000;
    text-align: center;
    opacity: 1;
    border-bottom: unset;
}

.cotas-disponiveis-modelo-4 .pcss3t > input:checked + label {
    /*border-bottom: 0px solid !important;*/
}

.cotas-disponiveis .form-check label{
    font-size:11px;
}

.cotas-disponiveis-modelo-4.cotas-disponiveis .form-check{
    border: 1px solid !important;
    height: 38px !important;
    width: 59px !important;
    font-weight: normal !important;
    border-radius: 5px !important;
    padding: 0 !important;
}

.cotas-disponiveis .form-check label {
    background: #fff;
    /* height: 48px; */
    display: block;
    width: 100%;
    padding: 8px 0 0;
    font-size: 11px;
    cursor: pointer !important;
}


@media(max-width: 540px){
    .cotas-disponiveis-modelo-4.cotas-disponiveis li.tab-content{
        text-align: center;
    }
    .cotas-disponiveis-modelo-4.cotas-disponiveis .form-check{
        display: inline-block;
        float: none;
    }
    .cotas-disponiveis-modelo-4 .pcss3t > label{
        width: 100%;
    }
}
.cotas-disponiveis-modelo-4.cotas-disponiveis .form-check label{
    border-radius: 5px !important;
}

.cotas-disponiveis-modelo-4.cotas-disponiveis .form-check input:checked + label {
    height: 36px !important;
    width: 57px !important;
    border: 1px solid #dd9933 !important;
    border-radius: 5px !important;
}

.btn-participar-sorteio {
    background: #71c358;
    color: #fff !important;
    font-weight: 700;
    padding: 11px 44px;
    margin: -32px auto 40px;
    border: none;
    border-radius: 6px !important;
    font-size: 18px !important;
    width: 50%;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;;
}





/* ============= NOVO =================== */

#woo-raffles-open-quotes .data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#open-quotes-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#open-quotes-tabs li {
    margin: 0 20px;
}

#open-quotes-tabs button {
    border-radius: 15px;
    width: 175px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

#open-quotes-tab-content button {
    margin: 10px;
    width: 60px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
}

#woo-raffles-quotes-selected {
    background-color: #FFFFFF;
    padding: 20px;
}

#woo-raffles-quotes-selected h6 {
    color: #333;
}

#woo-raffles-quotes-selected span {
    background-color: #666;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}

#quotes-selected-submit {
    font-weight: 700;
    border: none;
    border-radius: 25px !important;
    font-size: 18px !important;
    width: 50%;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}