/* ============= NOVO =================== */

#woo-raffles-open-quotes .data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#open-quotes-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#open-quotes-tabs li {
    margin: 0 20px;
}

#open-quotes-tabs button {
    border-radius: 15px;
    width: 175px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

#open-quotes-tab-content button {
    margin: 10px;
    width: 60px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
}


@media screen and (max-width: 960px) {
    #open-quotes-tabs {
        flex-direction: column;
    }

    #open-quotes-tabs li {
        margin: 10px 0;
    }
}



/* ============= APOSTA =================== */

.aposta {
    background: #fff;
    position: fixed;
    right: 40px;
    bottom: -520px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    width: 100%;
    border-top: 4px solid #0cd664;
    z-index: 999;
    max-height: calc(100% - 40px);
}

@media screen and (max-width: 960px) {
    .aposta {
        max-width: 100%;
        right: 0;
        overflow-y: auto;
    }
}

.aposta.open {
    bottom: 0;
}

.aposta.open .aposta__content {
    display: block;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    max-height: 300px;
    height: auto;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.aposta.open .aposta__content.close {
    display: none;
}


.aposta.open .aposta__header__close::after {
    opacity: 0;
    visibility: hidden;
}

.aposta__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #31373f;
    padding: 10px;
    cursor: pointer;
}

.aposta__header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.aposta__header__btn {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 600 13px/1 ;
    letter-spacing: 1.2px;
    padding: 0 16px;
    position: relative;
    color: #8697a2;
}

.aposta__header__btn:hover::before {
    opacity: 1;
    visibility: visible;
}

.aposta__header__btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #8697a2;
    opacity: 0;
    visibility: hidden;
}

.aposta__header__btn.active {
    color: #0cd463;
}

.aposta__header__btn.active span {
    background: #0cd463;
    color: #FFFFFF;
}

.aposta__header__btn.active::before {
    opacity: 1;
    visibility: visible;
    background: #0cd463;
}

.aposta__header__btn span {
    background: #31373f;
    color: #8697a2;
    min-width: 25px;
    width: 25px;
    font: 500 16px/1 ;
    min-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 1000px;
    margin: 0 0 0 8px;
}

.aposta__header__close {
    background: #0cd664;
    border: none !important;
    border-radius: 1000px;
    color: #000 !important;
    width: 26px;
    height: 26px;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.aposta__header__close::before {
    content: "";
    background: #000;
    height: 2px;
    width: 70%;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__header__close::after {
    content: "";
    background: #000;
    width: 2px;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*
.aposta__header__close:hover {
  background: #0cd463;
}

.aposta__header__close:hover::before {
  background: #FFFFFF;
}

.aposta__header__close:hover::after {
  background: #FFFFFF;
}
*/
.aposta__content {
    display: none;
}

.aposta__content__header {
    border-bottom: 1px solid #31373f;
    padding: 20px 16px;
}

.aposta__content__header__lucro {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #19a9e2;
    text-transform: uppercase;
    letter-spacing: .8px;
    font: 500 13px/1 ;
    border: 1px solid #19a9e2;
    padding: 14px 12px 12px 12px;
    border-radius: 5px;
}

.aposta__content__header__lucro i {
    margin: 0 8px 0 0;
    color: #19a9e2;
}

.aposta__content__header__concluido {
    display: none;
    letter-spacing: .4px;
    border-radius: 5px;
    width: 100%;
    padding: 14px;
    -webkit-box-shadow: inset 0 0 0 1px #31373f;
    box-shadow: inset 0 0 0 1px #31373f;
    font: 600 16px/1 ;
    text-align: center;
    color: #8697a2;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content__header__concluido:hover {
    background: #8697a220;
    color: #FFFFFF;
}

.aposta__content__lista {
    overflow-y: auto;
    max-height: 600px;
}

.aposta__content__lista li {
    border-bottom: 1px solid #31373f;
    padding: 12px 16px 16px 16px;
}

.aposta__content__lista li a {
    font: 500 15px/1 ;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    display: inline-block;
    margin: 0 0 7px 0;
}

.aposta__content__lista li a:hover {
    color: #0cd463;
}

.aposta__content__lista li h6 {
    opacity: .8;
    font: 200 13px/1 ;
    letter-spacing: .5px;
}

.aposta__content__lista li section {
    margin: 12px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li section h3 {
    font: 600 17px/1 ;
}

.aposta__content__lista li section span {
    font: 600 17px/1 ;
}

.aposta__content__lista li section .green {
    color: #0cd463;
    display: block;
}

.aposta__content__lista li section .blue {
    color: #19a9e2;
    display: none;
}

.aposta__content__lista li section .blue i {
    color: #19a9e2;
    margin: 0 8px 0 0;
}

.aposta__content__lista li > button {
    margin: 10px 0 16px 0;
    width: 100%;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #19a9e2;
    text-transform: uppercase;
    letter-spacing: .8px;
    font: 500 15px/1 ;
    border: 1px solid #19a9e2;
    padding: 14px 12px 12px 12px;
    border-radius: 5px;
}

.aposta__content__lista li > button i {
    margin: 0 8px 0 0;
    color: #19a9e2;
}

.aposta__content__lista li footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.aposta__content__lista li footer button {
    font: 400 14px/1 ;
    color: #0cd463;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li footer button i {
    margin: 0 0 0 6px;
    color: #0cd463;
}

.aposta__content__lista li footer h4 {
    font: 300 15px/1 ;
    color: #c5c9cc;
}

.aposta__content__lista li footer h4 strong {
    font-weight: 500;
    color: #FFFFFF;
}

.aposta__content__lista li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aposta__content__lista li div i {
    color: #eb4d4b;
    margin: 0 12px 0 0;
}

.aposta__content__lista li div span {
    line-height: 1.2;
}

.aposta__content__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 16px;
}

.aposta__content__footer h5 {
    color: #8697a2;
    font: 400 15px/1 ;
}

.aposta__content__footer h4 {
    font: 500 15px/1 ;
}

.aposta__content .valor {
    margin: 10px 0 16px 0;
    padding: 0 24px 2px 0;
    font-size: 20px;
    text-align: right;
    height: 40px;
    display: block;
    width: 100%;
    background: #1a212a;
    color: #FFFFFF;
    border: 1px solid #31373f;
    border-radius: 1000px;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content .valor:focus {
    border-color: #0cd463;
}

.aposta__content .valor::-webkit-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor:-ms-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor::-ms-input-placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .valor::placeholder {
    font-size: 17px;
    opacity: .6;
    color: #FFFFFF;
}

.aposta__content .aviso {
    font: 400 16px/1.3 ;
    color: #eb4d4b;
    text-align: center;
    margin: 10px 0 0 0;
}

.aposta__content__multipla {
    padding: 10px 16px;
}

.aposta__content__multipla .valor {
    margin-top: 0;
}

.aposta__content__multipla label {
    display: block;
    margin: 24px 0;
    position: relative;
}

.aposta__content__multipla label input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.aposta__content__multipla label input:checked ~ span::before {
    background: #0cd463;
}

.aposta__content__multipla label input:checked ~ i {
    opacity: 1;
    visibility: visible;
}

.aposta__content__multipla label span {
    color: #8697a2;
    font: 400 15px/1 ;
    display: block;
    width: 100%;
    position: relative;
}

.aposta__content__multipla label span::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    display: block;
    border: 1px solid #0cd66480;
    border-radius: 3px;
    width: 18px;
    height: 18px;
}

.aposta__content__multipla label i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.aposta__content__multipla section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.aposta__content__multipla section h5 {
    color: #8697a2;
    font: 400 15px/1 ;
}

.aposta__content__multipla section h4 {
    font: 500 15px/1 ;
}

.aposta__content__multipla section h4 strong {
    font-size: 22px;
}

.aposta__content__button {
    display: block;
    width: calc(100% - 32px);
    border-radius: 1000px;
    background: #0cd463;
    margin: 0 0 24px 16px;
    font: 600 18px/1 ;
    padding: 12px 0;
}

.aposta__content__button:disabled {
    opacity: .4;
}

#quotes-selected-submit {
    color: #fff;
    background: #8BC34A;
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #8bc34a;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 28px;
    padding: 0;
  }
    
  
  .widget-rifa-modelo-2#modalRifa .coluna-1 span{
      display: inline-block;
      width: 49px;
      text-align: center;
      background: #666;
      margin-left: 6px;
      margin-right: 6px;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 11px;
  }
  
  
  .widget-rifa-modelo-2#modalRifa form{
    font-size: 18px;
    margin-top: 20px;
  }

  #colunaDois {
    font-size: 18px;
    margin-top: 20px;
  }